body{
	margin: 0;
	padding: 0;
}



.caja{
width: 200px;
height: 200px;
position: relative;

}


.red{
background-color: #ee3e64;
left: 300px;
}

.blue{
background-color: #44accf;

}

.green{

background-color: #b7d84b;
}