body{
	margin: 0;
	padding: 0;
}



.caja{
width: 200px;
height: 200px;
position: absolute;

}


.red{
background-color: #ee3e64;
left: 0; top:0;
}

.blue{
background-color: #44accf;
right: 0; top:0;
}

.green{

background-color: #b7d84b;
left:0; bottom: 0;
}

.yellow{

background-color: yellow;
right: 0; bottom: 0;	
}